KERNEL=="paschar",SUBSYSTEM=="pas",GROUP="gpio"
KERNEL=="paschar",SUBSYSTEM=="pas",ACTION=="add",PROGRAM="/bin/sh -c 'chown -R root:gpio /sys/pas/GpioGroup'"
 